<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <title>Builder details</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo"><a href="#"><img src="/static/images/favicon.ico" height="60px" width="60px"></a></div>
            <nav class="nav-top">
                <div class="customer">
                    <a href="#">Project</a>
                    <a href="#">Create project</a>
                </div>
                <div class="profile">
                    <a href="#" id="log"><i class="fa-solid fa-user"></i></a>
                    <a href="#">Registration</a>
                </div> 
            </nav>
        </header>
        <main>
                <article class="top">
                     <div class="register-form form">
                        <form class="" method="" action="">
                            <h2 class="project-details">Builder details</h2>
                            <h3 class="details-head">Company name</h3>
                            <div class="context">GazMake</div>
                            <h3 class="project-head">License</h3>
                            <div class="context">1400-1254</div>
                            <h3 class="project-head">Contrag</h3>
                            <div class="context">125 / 12.12.2022</div>
                            <h3 class="project-head">Budget</h3>
                            <div class="context">10000 lv</div>
                            <h3 class="project-head">Phone number</h3>
                            <div class="context">+359 555 123456</div>
                            <h3 class="project-head">Email</h3>
                            <div class="context">aab@sca.com</div>
                            <h3 class="project-head">Upload file</h3>
                            <div class="context">nnnnnn</div>
                        </form>
                        <div class="button">
                           <button type="submit">Edit</button>
                        </div>
                     </div>
                </article>
        </main>
        <footer>
            <nav class="foot-top">
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </nav>
            <p>&copy; 2025 <span>Andrian Stoyanov</span> All rights reserved.</p>
        </footer>
    </div>
</body>
</html>