<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16" />

    <title>Base</title>
</head>
<body>
    <div class="container">
        <header>
            <div class="logo"><a href="#"><img src="/static/images/favicon.ico" height="60px" width="60px"></a></div>
            <nav class="nav-top">
                <div class="customer">
                    <a href="#">Projects</a>
                    <a href="#">Create project</a>
                </div>
                <div class="profile">
                    <a href="#" id="log"><i class="fa-solid fa-user"></i></a>
                    <a href="#">Registration</a>
                </div> 
            </nav>
        </header>
        <main>
            <article class="top">
                <h3>Съвременно строителство</h3>
                <h2>Бързо, технологично и качествено</h2>
                <h2>AnS since 1969</h2>
                <a href="#">Learn More</a>
            </article>
        </main>
        <footer>
            <nav class="foot-top">
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </nav>
            <p>&copy; 2025 <span>Andrian Stoyanov</span> All rights reserved.</p>
        </footer>
    </div>
</body>
</html>