{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
            <article class="top">
                <h2>OUR ID</h2>
                <h3 style="text-align: center; width: 800px;">We are a Bulgarian contractor offering services
                    to the energy industry since 1969. 
                    Our main activities include EPC and standalone construction 
                    of plants and pipelines, operation & maintenance and production enhancement.</h3>
                <h3>Our Vision</h3>
                    <p style="text-align: center; width: 600px;">We are recognized as the Companies’ problem solver, when it comes to deliver complex projects
that require top-notch technical competences, deep local knowledge and pioneer spirit.</p>
                <h2>AnS since 1969</h2>
            </article>
        </main>
{% endblock %}