{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
            <article class="top">
                <div class="form">
                    <form class="login-form" method="POST" action="{% url 'login' %}">
                        <h2>LOG IN</h2>
                        {% csrf_token %}
                        {{ form }}
                        <div class="button"><button type="submit">Log in</button></div>
                        <p>If you don't <a href="{% url 'new-account' %}" class="see-more">Registration</a> make it</p>
                    </form>
                </div>
            </article>
        </main>
{% endblock %}