<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
    <link rel="stylesheet"href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.6.0/css/all.css">

    <title>Profile Delete</title>
</head>
<body>
    <div class="container-form">
        <header>
            <div class="logo"><a href="#"><img src="/static/images/favicon.ico" height="60px" width="60px"></a></div>
            <nav class="nav-top">
                <div class="customer">
                    <a href="#">Project</a>
                    <a href="#">Create project</a>
                </div>
                <div class="profile">
                    <a href="#" id="log"><i class="fa-solid fa-user"></i></a>
                    <a href="#">Registration</a>
                </div> 
            </nav>
        </header>
        <main>
            <article class="top">
                <div class="form">
                    <form class="register-form" method="" action="">
                        <h2>Profile Delete</h2>
                        <div>
                            <label for="id_first_name">First name:</label>
                            <input type="text" name="first_name" maxlength="110" required aria-describedby="id_first_name_helptext" id="id_first_name">
                        </div>
                        <div>
                            <label for="id_last_name">Last name:</label>
                            <input type="text" name="last_name" maxlength="110" required aria-describedby="id_last_name_helptext" id="id_last_name">
                        </div>
                        <div>
                            <label for="id_position">Position:</label>
                            <input type="text" name="position" maxlength="110" required aria-describedby="id_position_helptext" id="id_position">
                        </div>
                        <div>
                            <label for="id_company">Company:</label>
                            <input type="text" name="company" maxlength="110" required aria-describedby="id_company_helptext" id="id_company">
                        </div>
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </article>
        </main>
        <footer>
            <nav class="foot-top">
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </nav>
            <p>&copy; 2025 <span>Andrian Stoyanov</span> All rights reserved.</p>
        </footer>
    </div>
</body>
</html>