{% extends 'base.html'%}
{% load static %}
{% block content %}
        <main>
            <article class="top">
                <div class="register-form form">
                    <form class="" method="POST" action="{% url 'profile-edit' pk=request.user.profile.pk  %}">
                        <h2 class="project-details">Profile Edit on {{ request.user.username }}</h2>
                        {% csrf_token %}
                        {{ form }}
                        <div class="button">
                            <button type="submit">Edit</button>
                        </div>
                    </form>
                </div>
            </article>
        </main>
{% endblock %}