{% extends 'base.html'%}
{% load static %}
{% block content %}
        <main>
            <article class="top">
                <div class="register-form form">
                    <form class="" method="GET" action="">
                        <h2 class="project-details">Profile Detail on {{ request.user.username }}</h2>
                        <h3 class="details-head">First Name:</h3>
                        <div class="context">{{ request.user.profile.first_name }}</div>
                        <h3 class="project-head">Last name:</h3>
                        <div class="context">{{ request.user.profile.last_name }}</div>
                        <h3 class="project-head">Profile Picture:</h3>
                        <div class="context">{{ request.user.profile.profile_picture }}</div>
                        <h3 class="project-head">Position:</h3>
                        <div class="context">{{ request.user.profile.position }}</div>
                        <h3 class="project-head">Company:</h3>
                        <div class="context">{{ request.user.profile.company_job }}</div>
                        <div class="button">
                            <button><a href="{% url 'profile-edit' pk=request.user.profile.pk %}">Edit</a></button>
                            <button><a href="{% url 'profile-delete' pk=request.user.profile.pk %}">Delete</a></button>
                        </div>
                    </form>
                </div>
            </article>
        </main>
{% endblock %}