{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                        <form class="" method="POST" action="{% url 'project-delete' pro_pk=project.pk %}">
                            {% csrf_token %}
                            {{ form }}
                            <p> Are you sure so want to delete project?</p>
                            <div class="button">
                                <button type="submit">Delete</button>
                            </div>
                        </form>   
                     </div>
                </article>
        </main>
{% endblock %}