{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                    <div class="register-form form">
                        <form class="" method="POST" action="{% url 'project-details' pro_pk %}">
                            {% csrf_token %}
                            {{ form }}
{#                            <h2 class="project-details">Project details</h2>#}
{#                            <h3 class="details-head">Project name</h3>#}
{#                            <div class="context">Gazoprovod Europ Africa</div>#}
{#                            <h3 class="project-head">Code project</h3>#}
{#                            <div class="context">00123456</div>#}
{#                            <h3 class="project-head">Descriptione</h3>#}
{#                            <div class="context">DN 1400</div>#}
{#                            <h3 class="project-head">Coordinator</h3>#}
{#                            <div class="context">Maria Ivanova</div>#}
{#                            <h3 class="project-head">Investor control</h3>#}
{#                            <div class="context">Ivan Ivanov</div>#}
{#                            <h3 class="project-head">Start project</h3>#}
{#                            <div class="context">20.12.2022</div>#}
{#                            <h3 class="project-head">Development</h3>#}
{#                            <div class="context"> radio button</div>#}
                            <div class="button">
                                <button class="btn"><a href="{% url 'project-edit' pro_pk %}">Edit</a></button>
                                <button class="btn"><a href="{% url 'project-delete' pro_pk %}">Delete</a></button>
                            </div>
                        </form>
                        <h3 class="project-head">Budget</h3>
                        <div class="context">50000 euro</div>
                        <!-- <div class="contragent"> -->
                        <a href="#" class="see-more project-head"><h3>Builders</h3></a>
                            <!-- <div class="report-a"> -->
                                <!-- <a href="#"><i class="fa-regular fa-trash-can"></i></a> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <!-- <div class="context">Stroitel EAD</div> -->
                        <a href="#" class="see-more project-head"><h3>Designers</h3></a>
                        <!-- <div class="context">Proektant AD</div> -->
                        <a href="#" class="see-more project-head"><h3>Supervisions</h3></a>
                        <!-- <div class="context">DDZD Nadzor</div> -->
                        <h3><a href="#" class="see-more project-head">Tasks</a></h3>
                     </div>
                </article>
        </main>
{% endblock %}