{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                    <div class="register-form form">
                        <h2 class="project-details">Edit Project</h2>
                        <form class="" method="POST" action="{% url 'project-edit' pro_pk=project.pk %}">
                            {% csrf_token %}
                            {{ form }}
                            <div class="button">
                                <button type="submit">Edit</button>
                            </div>
                        </form>
                        <a href="#" class="see-more project-head"><h3>Edit Builder</h3></a>
                        <div class="context">{{ project.builders.all|join:', ' |default:'N/A'}}</div>
                        <a href="#" class="see-more project-head"><h3>Edit Designer</h3></a>
                        <div class="context">{{ project.designers.all|join:', ' |default:'N/A' }}</div>
                        <a href="#" class="see-more project-head"><h3>Edit Supervision</h3></a>
                        <div class="context">{{ project.supervisions.all|join:', ' |default:'N/A' }}</div>
                    </div>
                </article>
        </main>
{% endblock %}