{% extends 'base.html'%}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                         <h2 class="project-details">Create Project</h2>
                        <form class="" method="POST" action="{% url 'project-create' %}">
                            {% csrf_token %}
                            {{ form }}
{#                            <h3 class="details-head">Project name</h3>#}
{#                            <div class="context">Gazoprovod Europe Africa</div>#}
{#                            <h3 class="project-head">Code project</h3>#}
{#                            <div class="context">00123456</div>#}
{#                            <h3 class="project-head">Description</h3>#}
{#                            <div class="context">DN 1400</div>#}
{#                            <h3 class="project-head">Coordinator</h3>#}
{#                            <div class="context">Maria Ivanova</div>#}
{#                            <h3 class="project-head">Investor control</h3>#}
{#                            <div class="context">Ivan Ivanov</div>#}
{#                            <h3 class="project-head">Start project</h3>#}
{#                            <div class="context">20.12.2022</div>#}
{#                            <h3 class="project-head">Development</h3>#}
{#                            <div class="context"> radio button</div>#}
                            <div class="button">
                                <button type="submit">Create</button>
                            </div>
                        </form>
                     </div>
                </article>
        </main>
{% endblock %}