{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                        <form class="" method="" action="">
                            <h3 class="project-head">Edit Report</h3>
                            <div class="context">
                                <p class="content-p">This is report hkhkkkhkhhkhk oioiuouou[09klj poiupoioiikjk</p>
                                <p class="author">Reporter: Ivan Ivanov Position: Technical manager</p>
                                <p class="author">Company: Stroitel AD Reported at 22.2.2024 15:30</p>
                            </div>
                            <div class="button">
                               <button type="submit">Edit</button>
                            </div>
                        </form>
                     </div>
                </article>
        </main>
{% endblock %}