{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                        <form class="" method="POST" action="{% url 'report-delete' rep_pk=report.pk %}">
                            <h3 class="project-head">Delete Report</h3>
                            {% csrf_token %}
                            {{ form }}
                            <div class="button">
                               <button type="submit">Delete</button>
                            </div>
                        </form>
                     </div>
                </article>
        </main>
{% endblock %}