{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                        <h2 class="project-details">Tasks and report</h2>
                        <!-- <form class="" method="" action=""> -->
                        <h3 class="project-head">Task {{ task.pk }}</h3>
                        <div class="context">
                            <p class="content-p">{{ task.description }}</p>
                            <p class="author">Author: {{ task.author.profile.profiles_name }} Position: {{ task.author.profile.position }}</p>
                            <p class="author">Company: {{ task.author.profile.company_job }} Reported at {{ task.date_approved|date:'d-m-Y' }}</p>
                            <div class="report-a">
                                <a href="{% url 'task-edit' pk=task.pk %}"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="{% url 'task-delete' pk=task.pk %}"><i class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </div>
                                <h3 class="project-details">Reports</h3>
                                 {% for report in task.reports.all %}
                                <ul class="list">
                                   <li>
                                       <a href="{% url 'report-detail' rep_pk=report.pk %}" class="see-more">Reporter{{ report.reporter.profile.profiles_name }}</a>
                                   </li>
                                </ul>
                                 {% empty %}
                                <div class="project-head"><h3>No Reports added</h3></div>
                                 {% endfor %}
                                <div class="button">
                                    <button><a href="{% url 'report-add' %}?task_id={{ task.pk }}">Add for this Task</a></button>
                                </div>
                        <!-- </form> -->
                     </div>
                </article>
        </main>
{% endblock %}