{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                    <div class="register-form form">
                       <h2 class="project-details">Create Task</h2>
                       <form class="" method="POST" action="{% url 'task-create' %}">
                           {% csrf_token %}
                           {{ form }}
{#                            <div class="context">#}
{#                                <p class="content-p">Gazoprovod Europ Africakjkjhkjkhk jhhhhhhhhh </p>#}
{#                                <p class="author">Author: Ivan Ivanov Position: Technical manager</p>#}
{#                                <p class="author">Company: Stroitel AD Created at 22.2.2024 15:30</p>#}
{#                            </div>#}
                            <div class="button">
                                <button type="submit">Create</button>
                            </div>
                       </form>
                    </div>
                </article>
        </main>
{% endblock %}