{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                        <h2 class="project-details">Tasks and report</h2>
                        <div class="context">
                            <p class="content-p">Gazoprovod Europ Africakjkjhkjkhk jhhhhhhhhh </p>
                            <p class="author">Author: Ivan Ivanov Position: Technical manager</p>
                            <p class="author">Company: Stroitel AD Created at 22.2.2024 15:30</p>
                        </div>
                        <!-- <form class="" method="" action=""> -->
                        <h3 class="project-head">Report 1</h3>
                        <div class="context">
                            <p class="content-p">This is report hkhkkkhkhhkhk oioiuouou[09klj poiupoioiikjk</p>
                            <p class="author">Reporter: Ivan Ivanov Position: Technical manager</p>
                            <p class="author">Company: Stroitel AD Reported at 22.2.2024 15:30</p>
                            <div class="report-a">
                                <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="#"><i class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </div>
                        <h3 class="project-head">Report 2</h3>
                        <div class="context">
                                <p class="content-p">This is report hkhkkkhkhhkhk oioiuouou[09klj poiupoioiikjk</p>
                                <p class="author">Reporter: Ivan Ivanov Position: Technical manager</p>
                                <p class="author">Company: Stroitel AD Reported at 22.2.2024 15:30</p>
                            <div class="report-a">
                                <a href="#"><i class="fa-regular fa-pen-to-square"></i></a>
                                <a href="#"><i class="fa-regular fa-trash-can"></i></a>
                            </div>
                        </div>
                        <!-- </form> -->
                        <div class="button">
                           <button type="submit">Create report</button>
                        </div>
                     </div>
                </article>
        </main>
{% endblock %}