{% extends 'base.html' %}
{% load static %}
{% block content %}
        <main>
                <article class="top">
                     <div class="register-form form">
                        <form class="" enctype="multipart/form-data" method="POST" action="{% url 'designer-edit' pk=designer.pk %}">
                            <h2 class="project-details">Edit Designer</h2>
                            {% csrf_token %}
                            {{ form }}
                            <div class="button">
                               <button type="submit">Edit</button>
                            </div>
                        </form>
                     </div>
                </article>
        </main>
{% endblock %}