{% extends 'base.html' %}
{% load static %}
{% block content %}

        <main>
                <article class="top">
                     <div class="register-form form">
                        <h2 class="project-details">Designers</h2>
                        <ul class="list">
                           <li>
                               <a href="#" class="see-more">Designer 1</a>
                           </li>
                           <li>
                               <a href="#" class="see-more">Designer 2</a>
                           </li>
                           <li>
                               <a href="#" class="see-more">Designer 3</a>
                           </li>
                           <li>
                               <a href="#" class="see-more">Designer 4</a>
                           </li>
                           <li>
                               <a href="#" class="see-more">Designer 5</a>
                           </li>
                        </ul>
                        <div class="project-head"><h3>No designers added</h3></div>
                        <div class="button">
                           <button type="submit">Add</button>
                        </div>
                     </div>
                </article>
        </main>
{% endblock %}