{% extends 'base.html' %}
{% load static %}
{% block content %}

        <main>
                <article class="top">
                     <div class="register-form form">
                        <h2 class="project-details">Designers</h2>
                         {% for designer in designer_list %}
                        <ul class="list">
                           <li>
                               <a href="{% url 'designer-details' pk=designer.pk %}" class="see-more">Designer: {{ designer.company_name }}</a>
                           </li>
                        </ul>
                         {% empty %}
                        <div class="project-head"><h3>No designers added</h3></div>
                         {% endfor %}
                        <div class="button">
                           <button><a href="{% url 'designer-create' %}">Add</a></button>
                        </div>
                     </div>
                </article>
        </main>
{% endblock %}